<div id="wrapper">
      <div class="row　g-0">
        <!-- サイドバー -->
        <div id="sidebar">
          <div class="vh-100 d-flex flex-column p-3 text-white bg-dark" style="width: 280px; height: 100%;">
            <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
              <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
              <span class="fs-4">Osint App</span>
            </a>
            <hr>
            <ul class="nav nav-pills flex-column mb-auto">
              <li class="nav-item">
                <a href="/cves/index" class="nav-link text-white" id="link1" aria-current="page" data-turbo-action="replace" data-turbo-frame="main-content">
                  <svg class="bi me-2" width="16" height="16"><use xlink:href="#home"></use></svg>
                  定常業務
                </a>

              </li>
              <li>
                <a href="investigation/index" class="nav-link active text-white" id="link2" data-turbo-action="replace" data-turbo-frame="main-content">
                  <svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>
                  インシデント調査
                </a>
              </li>
            </ul>
            <hr>
          </div>
        </div>
        </div>
        <!-- メインコンテンツ -->
        <div class="me-1" id="main-content">
            <div class="card text-center">
              <div class="card-header">
                SHODAN
              </div>
              <div class="card-body">
                <h5 class="card-title">SHODAN's Results</h5>
                <div class="card-text">
            <table class="table table-dark table-hover">
              <thead>
                <tr>
                  <% @shodan_results.keys.each do |key| %>
                    <th scope="col"><%= key.capitalize %></th>
                  <% end %>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <% @shodan_results.values.each do |value| %>
                    <td><%= value %></td>
                  <% end %>
                </tr>
              </tbody>
            </table>
            </div>
              </div>
              <div class="card-footer text-muted">
                SHODAN
              </div>
            </div>
            <div style="height: 20px;"></div>
            <div class="card text-center">
              <div class="card-header">
                VirusTotal
              </div>
              <div class="card-body">
                <h5 class="card-title">VirusTotal's Results</h5>
                <div class="card-text">
            <table class="table table-dark table-hover">
              <thead>
                <tr>
                  <% @virustotal_results.keys.each do |key| %>
                    <th scope="col"><%= key.capitalize %></th>
                  <% end %>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <% @virustotal_results.values.each do |value| %>
                    <td><%= value %></td>
                  <% end %>
                </tr>
              </tbody>
            </table>
            </div>
              </div>
              <div class="card-footer text-muted">
                VirusTotal
              </div>
            </div>
        </div>
      </div>
    </div>